html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title File List
        link(rel="stylesheet" type="text/css" href="bulma/bulma.css")
    body
        .container
            .files
                form(action="/download" method="POST")
                    .field
                        label.label Magnet URI
                        .control
                            input.input(name='magnetURI' value=magnetURI readonly=true)
                    label.label Files
                    each file in torrentFiles
                        .field
                            .control
                                label.checkbox
                                    input(type='checkbox' name=file checked=file.endsWith('mkv') || file.endsWith('mp4'))
                                    |  #{file}
                                    
                    .field
                        label.label Download Folder
                        .control
                            input.input(name='folder' value=folder)
                    .field
                        label.label Subtitle URL
                        .control
                            input.input(name='subtitleURL')
                    .field
                        .control
                            button.button(type="submit") Download selected files
                
