html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title File List
        // link(rel="stylesheet", href="")
    body
        main
            h2 Files
            .files
                form(action="/download" method="POST")
                    h3 Magnet URI
                    input(name='magnetURI' value=magnetURI)
                    h3 Files
                    each file, index in files
                        input(type='checkbox' name=file id=index checked=file.endsWith('mkv') || file.endsWith('mp4'))
                        label(for=index) #{file}
                        br
                    h3 Download folder
                    input(name='folder' value=folder)
                    h3 Subtitle URL
                    input(name='subtitleURL')
                    br
                    button(type="submit") Download selected files
                
